<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Login Estagiario</title>
	<link rel="stylesheet" type="text/css" href="http://localhost/Login/CSS/estilo.css">
	<script defer" src="../JS/estagiario.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>

	<nav class="menu-empregador">
		<ul>
			<li><a href="#" onclick="aoSelecionarAlterarDadosEstagiario()">Alterar dados</a></li>
			<li><a href="#">Empresas</a>
				<ul>
					<li><a href="#" onclick="aoSelecionarConsultarEmpresa()">Empresas cadastradas</a></li>
					<li><a href="#" onclick="aoSelecionarSeguirEmpresa()">Seguir empresas</a></li>
				</ul>
			</li>
			<li><a href="#" onclick="aoSelecionarConsultarVaga()">Estágios</a></li>
			<li><a href="http://localhost/Login/Estagiario/encerreLogin"> Sair</a></li>

		</ul>
	</nav>

	<div class="alterar">
		<form>

			<div class="campos-editar-dados-estagiario">
				<h1 class="titulo">Alterar dados cadastrais</h1>

				<input type="email" class="escrita" id="email" name="email" placeholder="E-mail" maxlength="50">
				<input type="password" class="escrita" id="senha" name="senha" placeholder="Senha" maxlength="15" required>
				<input type="password" class="escrita" id="confirmasenha" name="confirmasenha" placeholder="Confirme a senha"
					maxlength="15" required>

				<div class="div-estagiario">
					<div>
						<input type="text" name="nome" id="nome" placeholder="Nome completo" maxlength="50" class="escrita">
					</div>
					<div>
						<input type="text" name="curso" id="curso" placeholder="Curso" maxlength="50" class="escrita">
					</div>
					<div>
						<input type="text" name="ano" id="ano" placeholder="Ano de ingresso" class="escrita">
					</div>
					<div>
						<textarea name="curriculo" id="curriculo" placeholder="Curriculo" class="descricao" maxlength="300"></textarea>
					</div>
				</div>

				<div>
					<div>
						<input type="submit" value="Editar" class="escrita botao-editar" onclick="aoClicarAlterar()">
					</div>
				</div>
			</div>

			<div class="campos-consultar-vaga">
				<textarea placeholder="CONSULTAR VAGAS ESTAGIO" class="descricao"></textarea>
			</div>

			<div class="campos-consultar-empresa">
				<textarea placeholder="CONSULTAR EMPRESAS DISPONIVEIS" class="descricao"></textarea>
			</div>

			<div class="campos-seguir-empresa">
				<textarea placeholder="SEGUIR EMPRESAS / VER EMPRESAS QUE ESTOU SEGUINDO" class="descricao"></textarea>
			</div>

		</form>
	</div>

</body>

<script defer>

	const divCamposEditarDados = document.querySelector('.campos-editar-dados-estagiario');
	const divCamposConsultarVagaEstagio = document.querySelector('.campos-consultar-vaga');
	const divCamposConsultarEmpresa = document.querySelector('.campos-consultar-empresa');
	const divCamposSeguirEmpresa = document.querySelector('.campos-seguir-empresa');

	escondaCamposAposCarregarTelaEstagiario();

</script>

</html>